<li class="comment">
  <% url="../#{comment.user.url}"%>
  <div><img id="avatar" src="<%=url%>" height="80" width="80" /></div>
  <h3 class="comment-t"><%=comment.title%></h3>
  <p class="comment-content"><%=comment.content%></p>

   <% if user.may_edit?(comment)%>
    <div class="edit_btns">
      <button class=" no-border hidden_edit_btn">edit</button>
      <div class="hidden_edit"><br><br>
        <form class="form-horizontal" action="/comments/<%=comment.id%>" method="POST">
          <input type="hidden" name="_method" value="put">
            <input class="form-control" type="text" name="title" placeholder="<%=comment.title%>"><br>
            <textarea  name="content" rows="5" cols="35" placeholder="<%=comment.content.upcase%>"></textarea>
          <!-- </div> -->
          <input class="no-border" type="submit" class="invisible_btn" value="update">
        </form>
      </div>
      <form action="/comments/<%=comment.id%>" method="POST">
        <input type="hidden" name="_method" value="Delete">
        <input type="submit" class="no-border invisible_btn" value="Delete">
      </form>
    </div>
  <% end %>
      <button class="hidden_create_btn no-border">comment</button>
      <div class="hidden_create"><br>
         <%= erb :"comments/new", locals: { photo_id: comment.photo.id, parent_id: comment.id} %>
      </div>
  <%if  comment.replies.count > 0%>
     <% comment.replies.each do |reply| %>
      <ul><div class="indent-comment">
        <%= erb :"comments/show", locals: {comment: reply, picture: picture, user: user, parent_id: comment.id} %></div>
      </ul>
     <% end %>
  <% end %>


</li>