<div class="container" style="margin-top: 20px">
  <div class="row panel">
    <div class="col-md-4 bg_blur ">
      <a href="#" class="follow_btn hidden-xs">Follow</a>
    </div>
    <div class="col-md-8  col-xs-12">
     <img src="../../<%=@user.url%>" class="img-thumbnail picture hidden-xs" />
     <div class="header">
      <h1><%= @user.handle %></h1>
      <h4><%= @user.first_name %> <%= @user.last_name %></h4>
      <span><%= @user.bio %></span>
    </div>
  </div>
</div>
</div>


<div class="container">
  <div class="row panel">
   <div class="page-header">
    <h1>My Expressions <small>A collection of my Expression.</small></h1>
  </div>
  <% @user_photos.each do |photo| %>
  <div class="col-sm-6 col-md-4">
    <a href="/photos/<%= photo.id %>">
      <img src="<%=photo.url%>" style="height: 200px">




    </a>
    <div class="caption">
      <h3><%= photo.title %></h3>
      <p><%= photo.description %></p>
      <p>
        <form action="/photos/<%= photo.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input class="btn btn-primary" type="submit" value="Delete">
        </form>

        <form id='edit_form' action='/photos/<%= photo.id %>' method='post'>
          <input type='hidden' name='_method' value='put' />

          <input class="form-control" type='text' placeholder='<%= photo.title %>' name='title' value="<%= photo.title %>" />
          <input class="form-control" type='text' placeholder='<%= photo.description %>' name='description' value="<%= photo.description %>" />
          <input type='submit' value='Update' />
        </form>

        <a class="btn btn-default" id='edit_button' role="button">Edit</a>

      </p>
    </div>
  </div>
  <% end %>
</div>
</div>



