<br />
<br />
<br />
<br />
<br />
<br />

<div>
    <p>Welcome, <%= user.first_name %> <%= user.last_name %></p>
    <p>If you are satisfied, click <a href="../../users/<%= user.id %>">HERE</a>.
    
    <br />
    <ul>
      <li>TAGS!</li>
      <% user.photos.last.tags.each do |tag| %>
      <li><%= tag.title %></li>
      <% end %>
    </ul>

      <br />
      <p><img src="<%= user.photos.last.url %>"></p>


</div>